@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 252, 242;
  --background-start-rgb: 37, 36, 34;
  --background-end-rgb: 37, 36, 34;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Montserrat", sans-serif;
  }
  body {
    font-family: "Open Sans", sans-serif;
  }
  button,
  a {
    font-family: "Roboto", sans-serif;
  }
}

